[submodule "Libft"]
	path = Libft
	url = https://github.com/eduaserr/Libft
[submodule "Get_Next_Line"]
	path = Get_Next_Line
	url = https://github.com/eduaserr/Get_Next_Line
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/eduaserr/ft_printf
[submodule "push_swap"]
	path = push_swap
	url = https://github.com/eduaserr/push_swap
[submodule "minitalk"]
	path = minitalk
	url = https://github.com/eduaserr/minitalk
[submodule "42-Exam"]
	path = 42-exam
	url = https://github.com/eduaserr/42-exam.git
[submodule "So_Long"]
	path = So_Long
	url = https://github.com/eduaserr/So_Long.git
